<!DOCTYPE html>
<html> 
  <head> 
    <meta charset="utf-8">
    <title>Aarab Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body> 
    <div class="container mt-5">  
      <h1 class="text-center">Product List</h1>
      <table class="table table-striped mt-3">
        <thead class="">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody id="product-list">
        </tbody>
      </table>
    </div>

    <!-- <div class="container mt-5">
      <h1 class="text-center">Add Product</h1>
      <form id="product-form" class="mt-3">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input type="text" class="form-control" id="nom" nom="nom" required>
        </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <input type="text" class="form-control" id="description" nom="description" />
        </div>        
        <div class="form-group">
          <label for="prix">Prix :</label>
          <input type="number" class="form-control" id="prix" nom="prix" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
      </form>
    </div> -->

    <div class="container mt-5">
      <h1 class="text-center">Edit Product</h1>
      <form id="edit-product-form" class="mt-3">
        <div class="form-group">
          <label for="edit-nom">Nom :</label>
          <input type="text" class="form-control" id="edit-nom" nom="nom" required>
        </div>
        <div class="form-group">
          <label for="edit-description">Description :</label>
          <input type="text" class="form-control" id="edit-description" nom="description" />
        </div>
        <div class="form-group">
          <label for="edit-prix">Prix :</label>
          <input type="number" class="form-control" id="edit-prix" nom="prix" required>
        </div>
        <input type="hidden" id="edit-id" nom="id">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" id="cancel-edit">Cancel</button>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
