<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Commandes List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="container mt-5">
      <h1 class="text-center">Commandes List</h1>
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Email Utilisateur</th>
            <th>Prix total</th>
            <th>Created at</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="Commandes-list"> 
        </tbody>
      </table>
    </div>

    <script src="script.js"></script>
  </body>
</html>
